

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  font-family: "Noto Sans Display", sans-serif;
  background-color: #f0edea;
  color: #282129;
}

header {
  grid-column: 1 / 4;
  height: 150px;
}

h1 {
  font-size: 70px;
  font-weight: 200;
  margin: 10px;
  font-family: "Caprasimo", cursive, sans-serif;
  color: #282129;
}


.player1, 
.player2 {
  display: grid;
  grid-auto-rows: 55px;
  justify-content: center;
}

button {
  color: black;
  border: none;
  border-radius: 5px;
}

button:hover {
  border: 3px solid #282129;
}

.refresh {
  margin-left: 15px;
  height: 40px;
  background-color: #e5d1b8;
  width: 120px;
  font-size:16px;
}

#change-1, 
#change-2, 
#robocop, 
#terminator {
  display: block;
  height: 60px;
  width: 170px;
  margin: 0 auto;
  font-size: 20px;
}

#change-1, 
#change-2 {
  background-color: #e5d1b8;
}

#robocop {
  background-color: #c2956e;
}

#terminator {
  background-color: #dd8e58;
}

.p1, 
.p2 {
  height: 60px;
}

#player1, 
#player2 {
  font-size: 35px;
  color: #0d9488;
}

.container {
  width: 450px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.quadrant {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend Deca", sans-serif;
  color: #0d9488;
}

#quad-5 {
  border: 7px solid #282129;
}

#quad-2, 
#quad-8 {
  border-right: 7px solid #282129;
  border-left: 7px solid #282129;
}

#quad-4, 
#quad-6 {
  border-top: 7px solid #282129;;
  border-bottom: 7px solid #282129;
}