

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
}

header {
  grid-column: 1 / 4;
}

h1 {
  font-size: 70px;
  font-weight: 200;
  margin: 10px;
  font-family: "Caprasimo", cursive, sans-serif;
}


.player1, 
.player2 {
  display: grid;
  grid-auto-rows: 55px;
  justify-content: center;
}

button {
  color: black;
}

#change-1, 
#change-2, 
#robocop, 
#terminator {
  display: block;
  height: 60px;
  width: 150px;
  margin: 0 auto;
  font-size: 20px;
}

.p1, 
.p2 {
  height: 60px;
}

#player1, 
#player2 {
  font-size: 40px;
}

.container {
  width: 450px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.quadrant {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quad-5 {
  border: 7px solid black;
}

#quad-2, 
#quad-8 {
  border-right: 7px solid black;
  border-left: 7px solid black;
}

#quad-4, 
#quad-6 {
  border-top: 7px solid black;
  border-bottom: 7px solid black;
}