body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 600px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.quadrant {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
}

#quad-5 {
  border: 7px solid black;
}

#quad-2, 
#quad-8 {
  border-right: 7px solid black;
  border-left: 7px solid black;
}

#quad-4, 
#quad-6 {
  border-top: 7px solid black;
  border-bottom: 7px solid black;
}